<template>
<section>
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-lg-6">
                <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Daftarkan Pengguna</h6>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">       
                                    <label>Email</label>              
                                <input
                                v-model="payload.email"  
                                type="text" class="form-control form-control-user"  placeholder="Masukan Email...">     
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">      
                                    <label>Nama</label>                     
                                <input 
                                v-model="payload.name" 
                                type="text" class="form-control form-control-user" placeholder="Masukan Nama...">     
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">       
                                    <label>Password</label>              
                                <input 
                                 v-model="payload.password" 
                                 type="password" class="form-control form-control-user"  placeholder="Masukan password...">     
                            </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">       
                                    <label>Ulangi Password</label>              
                                <input 
                                 v-model="payload.password_confirmation"
                                  type="password" class="form-control form-control-user"  placeholder="Ulangi password...">     
                            </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">       
                                    <label>Status</label>  <br>            
                                    <label class="switch">
                                        <input type="checkbox" v-model="payload.status">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">  
                                     <label class="fancy-checkbox" v-for="(list,i) in listRole" :key="`label-${i}`" style="display:inline; padding:10px;">
                                        <input type="checkbox" :value="i"  v-model="payload.roles">
                                        <span>{{ list }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
                <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">&nbsp;</h6>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">       
                                    <img :src="imageUri" class="img-circle" alt="Avatar" height="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">                      
                                <input @change="onFileChanged" type="file" class="form-control form-control-user" placeholder="Masukan Nama...">     
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> 
                                    <label>&nbsp;</label>
                                    <button class="btn btn-success" @click="save">
                                        Simpan
                                    </button>                                
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>
<script>
import Swal from 'sweetalert2'
export default {
    data: () => {
        return {
            payload:{
                name: '',
                email:'',
                password: '',
                password_confirmation:'',
                status:'',
                image: '',
                roles: []
            },
            imageUri:'',
            image: '',
            listRole: []
        }
    },
    mounted() {
        this.getRole()
    },
    methods: {
        async  getRole() {
            await axios.get('/dashboard/config/get-role')
                .then((res) => {
                    this.listRole = res.data
                })
                .catch((e) => {
                    this.warning = 'Terjadi kesalahan harap hubungi Admin.'
                })
        },
        onFileChanged (event) {
            const file = event.target.files[0]
            this.image = file
            this.imageUri = URL.createObjectURL(file);
        },
        async save() {

            Swal.fire('Tunggu Sebentar');
            Swal.showLoading();
            const status = (this.payload.status) ? 'active' : 'inactive';
            const source = this.payload
            const image = this.image
            let form = new FormData();
            form.append('image', this.image,source.name)
            form.append('email', source.email)
            form.append('password', source.password)
            form.append('password_confirmation', source.password_confirmation)
            form.append('name', source.name)
            form.append('roles', source.roles)
            form.append('status', status)
            await axios.post('/dashboard/user',form)
                .then((res) => {
                    Swal.close()
                    window.location = '/dashboard/user';
                })
                .catch((e) => {
                    Swal.close()
                    if(e.response.status === 422) {
                        let error = e.response.data.errors;
                            error = Object.values(error)
                        error.forEach((item) =>  {
                            this.$toastr.error(item, 'Error',{"positionClass": "toast-top-left"});
                        })
                    }
                })
        }
    }
}
</script>
