<template>
    <section>
        <div class="row">
            <div class="col-lg-6">
                <!-- Circle Buttons -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pencarian</h6>
                    </div>
                    <div class="card-body">
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="form-group">                     
                                    <input  type="text" class="form-control form-control-user" v-model="payload.email" placeholder="Masukan Email...">     
                                </div>
                             </div>
                             <div class="col-md-6">
                                 <div class="form-group">                     
                                    <input type="text" class="form-control form-control-user" v-model="payload.name" placeholder="Masukan Nama...">     
                                </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <button @click="search()" class="btn btn-primary btn-user btn-block">
                                        Cari
                                    </button>
                                </div>
                             </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                     <button @click="reset()" class="btn btn-warning btn-user btn-block">
                                        Reset
                                    </button>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Circle Buttons -->
               
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Daftar Pengguna</h6>
                     <h6 class="m-0 font-weight-bold text-danger">{{ this.warning }}</h6>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(list,i) in lists" :key="i">
                                        <td>{{ list.username }}</td>
                                        <td>{{ list.email }}</td>
                                        <td>
                                            <button class="btn btn-info" 
                                                    v-if="havAccess('update-user')"
                                                    @click="update(list.id)">
                                                Ubah
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    v-if="havAccess('delete-user')"
                                                    @click="destroy(list.id)">
                                                Hapus
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center" v-if="meta">
                                    <li class="page-item" v-if="links.current_page != 1">
                                        <a class="page-link" href="javascript:void(1);" @click="setPage(1)">Awal</a>
                                    </li>
                                    <li class="page-item" v-if="links.current_page != 1">
                                        <a class="page-link" href="javascript:void(1);" @click="setPage(links.current_page - 1)">Sebelumnya</a>
                                        </li>
                                    <li class="page-item" v-for="(pageNumber, index) in totalPages" 
                                    :key="index" :class="{active: links.current_page === pageNumber}">
                                        <a class="page-link" href="javascript:void(1);" @click="setPage(pageNumber)">{{ pageNumber }}</a>
                                    </li>
                                    
                                    <li class="page-item" v-if="links.current_page != links.last_page && totalPages > 1">
                                        <a class="page-link" href="javascript:void(1);" @click="setPage(links.current_page + 1)">Selanjutnya</a>
                                    </li>
                                    <li class="page-item" v-if="links.current_page != links.last_page && totalPages > 1">
                                        <a class="page-link" href="javascript:void(1);" @click="setPage(links.last_page)">Akhir</a>
                                    </li>
                                    
                                </ul>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import Swal from 'sweetalert2'
export default {
     props: ['permission'],
     data: () => {
        return {
            list: '',
            payload: {
                email: '',
                name: '',
                page:1,
            },
            meta: [],
            totalPage: 1,
            warning: ''
        }
    },
    mounted() {
        this.fetch({})
    },
    methods: {
        search() {
            this.payload.page =1;
            this.fetch(this.payload)
        },
        reset() {
            this.payload.name = ''
            this.payload.email = ''
            this.fetch(this.payload)
        },
       async fetch(payload) {
          await axios.post('/dashboard/user/list',payload)
                .then((res) => {
                    this.list = res.data.data
                    const meta = res.data.meta
                    this.meta = meta
                    if (meta) {
                        this.totalPage = meta.last_page
                    }else{
                        this.totalPage = 1
                    }
                })
                .catch((e) => {
                    this.warning = 'Terjadi kesalahan harap hubungi Admin.'
                })
        },
        setPage(page) {
            this.payload.page = page
            this.fetch(this.payload);
        },
        havAccess(permission) {
            const list = JSON.parse(this.permission)
            const  val = list.indexOf(permission)
            if(val !== -1){
                return true;
            }
            return false;
        },
        destroy(param) {
            Swal.fire({
                title: 'Hapus Pengguna?',
                text: "Anda akan menghapus pengguna",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33' ,
                cancelButtonColor: '#3085d6',
                cancelButtonText: 'Batalkan',
                confirmButtonText: 'Hapus'
                })
                .then((result) => {
                    if (result.value) {
                        axios.delete('/dashboard/user',{ data: { id: param } })
                        .then((res) => {
                            Swal.fire({
                                position: 'top-end',
                                type: 'success',
                                title: 'Berhasil dihapus.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                           this.fetch(this.payload)
                        })
                        .catch((e) => {
                             Swal.fire({
                                position: 'top-end',
                                type: 'warning',
                                title: 'Terjadi kesalahan.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        })
                    }
                })
        },
        update(param) {
             window.location = `/dashboard/user/show/${param}`;
        }
    },
    computed: {
        lists() {
            return this.list
        },
        links() {
            return this.meta
        },
        totalPages() {
            return this.totalPage
        }
    }
}
</script>
