<template>
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Tambah Role</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-headline panel-body">
                    <span>Nama</span>
                    <input v-model="name" type="text" class="form-control" placeholder="text field">
                    <p class="text-danger">{{ error.name }}</p>
                    <br>
                 </div>
            </div>
            <div class="col-md-12">
                 <div class="panel panel-headline panel-body">
                    <br>
                   <!-- {{ groupPermission }} -->
                    <div class="col-md-3" v-for="(permission, name, key) in groupPermission" :key="`group-${key}`">
                        <span>{{ name | upperCase}}</span>
                        <label class="fancy-checkbox" v-for="(list,i) in permission" :key="`label-${i}`">
                                <input type="checkbox" :value="list" v-model="permissions">
                                <span>{{ list | upperCase | cleanWord  }}</span>
                        </label>
                    </div>
                 </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-headline panel-body">
                    <button @click="submit" type="button" class="btn btn-primary pull-right">Simpan</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import swal from 'sweetalert2'
export default {
    data: ()=> ({
        name: null,
        error: {},
        permissions: []
    }),
    created() {
       const list = localStorage.getItem('permissions')
        if(list.length > 0) {
            const check = list.indexOf('create-role')
            if(check >= 0) {
                return true
            }
            window.location = '/503'
        }else {
            window.location = '/503'
        }
    },
    mounted() {
        this.group();
    },
    methods: {
         ...mapActions('Role', [
            'add',
        ]),
         ...mapActions('Permission', [
            'group',
        ]),
        async submit() {
            const payload = {
                name: this.name,
                permissions: this.permissions
            }
            await this.add(payload).then(res => {
               swal({
                    position: 'top-end',
                    toast: true,
                    type: 'success',
                    title: 'Berhasil ditambahkan',
                    showConfirmButton: false,
                    timer: 2000
                })
                this.$router.push('/admin/role')
            }, e => {
                let Msg = []
                const eMsg = e
                this.setError(e.response.data.errors)
            })
        }
    },
    computed: {
        ...mapGetters('Permission', {
            groupPermission: 'getGroup',
        }),
    },
    filters: {
        upperCase(value) {
            return value.toUpperCase()
        },
        cleanWord(value) {
           return value.replace('-', ' ')
        }
    }
}
</script>
