<template>
    <section>
        <div class="row">
            <div class="col-lg-6">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Pencarian</h6>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</template>
