<template>
    <div class="col-lg-12">
            <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Konfigurasi Umum</h6>
            </div>
            <div class="card-body">
                    <div class="col-md-12">
                        <div class="row">
                                <div class="col-md-6 form-group">
                                <label>Nama Aplikasi</label>
                                <input class="form-control" v-model="webName" type="text" placeholder="Nama" name="web_name">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Batas Data per Halaman</label>
                                <input class="form-control" v-model="limit" type="number" placeholder="10" value="" name="limit_page">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <button class="btn btn-success" @click="save">Simpan</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['app_name','limit_page'],
    data: () => {
        return {
            webName: '',
            limit: 10
        }
    },
    mounted() {
        this.webName = this.app_name
        this.limit = this.limit_page
    },
    methods: {
        save() {
            const payload = {
                web_name: this.webName,
                limit_page: this.limit
            }
            axios.post('/dashboard/config/save',payload)
                .then((res) => {
                   location.reload();
                })
                .catch((e) => {
                    alert('something went wrong')
                })

        }
    }
}
</script>
